<h1>Collaborative demo</h1>
<%= content_tag :div,
  class: "collaborative-editor",
  data: {
    documentId: @document.id,
    content: @document.content,
    version: @document.version
  }.to_json do %><% end %>
